---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import ReactIcon from "./icons/React.astro"
import ChakraIcon from "./icons/Chakra.astro"
import SocketIOIcon from "./icons/SocketIO.astro"
import NodeIcon from "./icons/Node.astro"
import ExpressIcon from "./icons/Express.astro"
import PostgreSQLIcon from "./icons/PostgreSQL.astro"
import Osp from "./icons/OSP_Login.png"
import Chat from "./icons/Chat_App.jpg"

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-[#20232a] text-cyan-300",
    icon: ReactIcon,
  },
  CHAKRA: {
    name: "Chakra UI",
    class: "bg-[#319795] text-white",
    icon: ChakraIcon,
  },
  SOCKETIO: {
    name: "Socket.IO",
    class: "bg-black text-white",
    icon: SocketIOIcon,
  },
  NODE: {
    name: "Node.js",
    class: "bg-[#026e00] text-white",
    icon: NodeIcon,
  },
  EXPRESS: {
    name: "Express",
    class: "bg-gray-800 text-white",
    icon: ExpressIcon,
  },
  POSTGRESQL: {
    name: "PostgreSQL",
    class: "bg-[#336791] text-white",
    icon: PostgreSQLIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
}

const PROJECTS = [
  {
    title: "Chat App",
    description:
      "Designed and built a real-time chat application with custom REST APIs for efficient communication. Developed using React and Chakra UI with real-time capabilities powered by Socket.IO and PostgreSQL for backend data management.",
    link: "https://chat-app-psi-roan.vercel.app/chats", // Add your live project URL here
    github: "https://github.com/Om-Patel1705/Chat-App", // Add your GitHub repo URL here
    image: Chat.src,
    tags: [TAGS.REACT, TAGS.CHAKRA, TAGS.SOCKETIO, TAGS.POSTGRESQL],
  },
  {
    title: "Online Scholarship Portal",
    description:
      "A web-based platform to streamline the scholarship application and management process. Includes student registration, application tracking, admin dashboard, secure OTP login, and real-time status updates.",
    link: "https://group7-osp.vercel.app/", // Add your live project URL here
    github: "https://github.com/202201138/Group7_OSP_Forked", // Add your GitHub repo URL here
    image: Osp.src,
    tags: [TAGS.NODE, TAGS.EXPRESS, TAGS.TAILWIND, TAGS.POSTGRESQL],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt={title} class="object-contain object-center w-full h-56 transition duration-500 sm:h-full md:scale-100 md:group-hover:scale-100" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>